* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

body {
      font-family: 'Poppins', sans-serif;
      background-color: hsl(0, 0%, 98%);
      
}

p {
      color: hsl(229, 6%, 66%);
}

h1 {
      font-size: 1.562rem;
      color: hsl(234, 12%, 34%);
}

h2 {
      color: hsl(234, 12%, 34%);
}

.mt {
      margin-top: 5.625rem;
}

.mb {
      margin-bottom: 5rem;
}


section {
      text-align: center;
      width: 85%;
      margin: 0 auto;
}

.header__title {
      margin-bottom: 1.25rem;
}

.header__title p{
      font-size: 1.562rem;
      font-weight: 200;
      line-height: 1.6;
}

.header__description {
      font-size: 0.937rem;
}

.cards {
      width: 85%;
      margin: 0 auto;
      padding-bottom: 4.375rem;
}

/* .cards__items {
    
} */

.cards__item {
      background-color: #ffffff;
      text-align: left;
      margin-bottom: 1.562rem;
      border: none;
      border-radius: 0.312rem;
      box-shadow: 0 0.437rem 1.25rem -0.25rem rgba(84,158,242,0.4);
      position:relative;
      overflow: hidden;
}

.cards__item_line {
      height: 0.25rem;
      width: 100%;
      position: absolute;
      top: 0;
      left:0;
}

.line-cyan {
      background-color:hsl(180, 62%, 55%);
}

.line-red {
      background-color:hsl(0, 78%, 62%);
}
.line-orange {
      background-color:hsl(34, 97%, 64%);
}
.line-blue {
      background-color: hsl(212, 86%, 64%);
}

.cards__item_inner {
      padding: 1.875rem;
      position: relative;
}

.cards__item-title h2{
      font-size: 1.25rem;
}

.cards__item-description p {
      font-size: 0.781rem;
      margin-top: 0.312rem;
}

.cards__item__icon {
      text-align: right;
      margin-top: 2.187rem;
}

.cards__item__icon img{
      width: 3.625rem;
      height:  3.625rem;
}

@media only screen and (max-width: 700px) {
      br.responsive {
            display: none;
      }
}




@media only screen and (min-width: 1000px) and (max-width: 2560px) {

      h1{
            font-size: 2.187rem;
      }

      .header__title p {
            font-size: 2.187rem;
      }

      .cards {
            width: 80%;
      }

      .cards__items {
            display: grid;
            grid-template-areas: 
                  ". line-red ."
                  "line-cyan line-red line-blue"
                  "line-cyan line-orange line-blue"
                  ". line-orange ."
            ;
            grid-gap: 1.562rem;
      }

      .grid-cyan {
            grid-area: line-cyan;
      }
      
      .grid-red {
            grid-area: line-red;
      }
      .grid-orange {
            grid-area: line-orange;
      }
      .grid-blue {
            grid-area: line-blue;
      }

      .cards__item {
            margin-bottom: 0;
      }

      .cards__item-title h2{
            font-size: 1.35rem;
      }

      .cards__item-description p {
            font-size: 0.85rem;
      }
}
